#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

MKDIR=share/bmake-mk

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
	env CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs" \
	    ./configure --host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr --mandir=/usr/share/man \
		--infodir=/usr/share/info \
		--with-default-sys-path=/usr/${MKDIR} \
		--without-mksrc

build: build-stamp

build-stamp:  config.status
	dh_testdir

	# Add here commands to compile the package.
	chmod +x make-bootstrap.sh
	./make-bootstrap.sh

	# updating man page
	sed -e '/^.Nm/s/make/bmake/' -e 's/[.]Nx/NetBSD/' -e '/^.Sh HISTORY/,$$d' make.1 > bmake.1
	echo ".Sh HISTORY" >> bmake.1
	echo ".Nm" >> bmake.1
	echo "is derived from NetBSD's" >> bmake.1
	echo ".Xr make 1 ." >> bmake.1
	echo "It uses autoconf to facilitate portability to other platforms." >> bmake.1

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp config.h config.log Makefile makefile.boot
	rm -f config.status bmake bmake.1 bmake.boot

	# Add here commands to clean up after the build process.
	rm -f *.o getopt
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 

	# Add here commands to install the package into debian/bmake.
	dh_installdirs /usr/${MKDIR} /usr/bin
	cp bmake $(CURDIR)/debian/bmake/usr/bin/
	cp $(CURDIR)/debian/sys.mk $(CURDIR)/debian/bmake/usr/share/bmake-mk/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs README
	dh_install
	dh_installman bmake.1
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
